* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 20%;
  height: 100vh;
  background-color: gray;
}

.sidebar h2 {
  widows: auto;
  background-color: red;
  padding: 10px 8px;
  text-align: center;
}

.sidebar .profile-picture {
  width: 100%.innerHTML = "Jejekin Map";
}

.list-map {
  list-style: none;
  padding: 0;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.list-map button {
  color: #111;
  height: 60px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  position: relative;
  border: 2px solid #111;
  margin: 0 40px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow: hidden;
  transition: all 300ms ease;
}

.list-map button::after {
  width: 300%;
  height: 300%;
  left: -300%;
  transform: rotate(45deg);
  background-color: #f21170;
  transition: all 300ms ease;
}

.list-map button:hover::after {
  left: -100%;
}

.list-map button:hover {
  border: 2px solid #f21170;
}

.list-map button:first-child {
  border-top: none;
}

.main {
  width: 100%;
  padding: 10px 8px;
}

.main h1 {
  margin-bottom: 8px;
}

.main #map {
  width: 100%;
  height: 80vh;
}

.main #coordinates {
  font-size: 18px;
  margin-top: 8px;
}

@media (max-width: 800px) {
  .sidebar .profile-picture {
    width: 100px;
  }
}
